@charset "UTF-8";

body {
    background-color: rgb(224, 250, 198);
}

h1 {
    color: rgb(12, 125, 52);
}

h1#principal {
    text-align: center;
    background-color: rgb(12, 125, 52);
    color: white;

}

h2 {
    color:rgb(28, 164, 76);
}